$primary-color: #344563;
$secondary-color: #97A0B0;
$terciary-color: #FF991F;
*{
    font-family: 'Poppins';
}
body{
    padding-top: 5em;
    padding-left: 4.5em;
}
.portal-manager-restaurant{
    color: $primary-color;
    font-size: 17px;
    font-weight: 500;
}
.user{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: $terciary-color;
}

.nav-item{
    div{
        width: 45px;
        height: 45px;
        border-radius: 100%;
    }
    .fa-solid{
        font-size: 1.5em;
        margin: auto;
    }
}
.aside{
    div{
        width: 37px;
        border-radius: 100%;
    }
    i{
        font-size: 1.2em;
    }
    i:first-child, :nth-child(3), :nth-child(5){
        color: $primary-color;
    }
}
header{
    div{
        color: $primary-color;
        font-weight: 500;
    }
}
h2{
    font-weight: bold;
    color: $primary-color;
}
input::placeholder{
    font-weight: 500;
    font-size: .9em;
}

.main-slider{
    max-height: 78vh;
    color: $primary-color;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}